body{
    padding: 5px;
}

/* Posts */
.newPost, .post{
    padding: 20px;
    margin: 20px;
    border: 1px solid silver;
    border-radius: 5px;
}
.edit{
    display: none;
}


/* Next and Previous */
.buttons{
    display: flex;
  justify-content: center;
  justify-content: space-around;
}

/* likes */
.like{
    cursor: pointer;
}
